.filter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 270px;

  &__item {
    padding: 7px 10px;
    align-self: center;
    font-family: inherit;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 15px;
    cursor: pointer;

    &:hover {
      background-color: #296c99;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
  }
}
